.container{
    width: 95%;
    max-width: 900px;
    margin: 0 auto;
    
    > h1{
	text-shadow: 1px 1px 1px #C9C9C9;
	text-align: center;
	font-style: italic;
	color: #e2e2e2;
	font-weight: normal;
	a{float:right; text-decoration: none; color: inherit;}
    }
    .card{
	margin-bottom: 15px;
	color: inherit;
	display: block;
	text-decoration: none;
	background: white;
	padding: 10px;
	border-radius: 3px;
	box-shadow: 1px 1px 1px #f2f2f2;
	amp-img{
	    float:left;
	    margin-right: 10px;
	}
	h2{
	    margin: 0;
	    font-size: 1.2em;
	    .highlight-text{
		font-weight: bold;
		color: white;
		background-color: #637d8b;
		display: inline-block;
		padding: 0 5px;
	    }
	}
	p{
	    margin: 0px 0;
	    text-align: justify;
	    .highlight-text{
		border-bottom: 3px solid #637d8b;
		font-weight: bold;
		font-style: italic;
		color: #637d8b;
	    }
	}	
    }
    form.card.search{
	padding: 50px;
	input{
	    border-bottom: 1px solid #e2e2e2;
	    width: 100%;
	    font-size: 1.1em;
	    color: inherit;
	    padding: 0;
	}
    }
    .post{
	.post-header{
	    .post-title{
		text-align: center;
		font-weight: normal;
		font-size: 2.2em;
		font-style: italic;
	    }
	}
	.post-content{
	    h2{font-size: 1.3em;}
	    h1:before{content: '# '; color: #e2e2e2;}
	    h2:before{content: '## '; color: #e2e2e2;}
	    h3:before{content: '### '; color: #e2e2e2;}
	    h4:before{content: '#### '; color: #e2e2e2;}
	    h5:before{content: '##### '; color: #e2e2e2;}
	    a {color: #637d8b; font-weight: bold; font-style: italic;}
	}
    }

    .tag{
	font-weight: normal;
	display: inline-block;
	border-radius: 5px;
	color: rgba(0,0,0, 0.4);
	border: 1px solid rgba(0,0,0,0.1);
	margin-right: 5px;
	font-size: 16px;
	padding: 1px 5px;
	background: #f9f9f9;
	&:before{content: '#';color: rgba(0, 0, 0, 0.25);padding-right: 2px;}
	&.white{background: white;}

	#disqus{margin-top: 100px;}
    }

}

