nav{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
    
    border-bottom: 1px solid #626469;
    background: #637d8b;    
    height: 23px;
    line-height: 23px;
    ul{
	padding: 0;
	margin: 0;
	font-size: inherit;
	font-weight: normal;
	li{
	    display: inline-block;
	    margin-right: 10px;
	    &.active a{color: #e2e2e2;}
	    a{
		text-decoration: none;
		&:before{content: '~/'; color: #e2e2e2;}
		color: white;
	    }	
	}
    }
    form{
	float: right;
	input{
	    height: 23px;
	    color: white;
	    background-color: rgba(255,255,255, 0.1);
	}
    }
}
