body{padding: 0; margin: 0;}
html{
    font-size: 15px;
    font-family: "San Francisco","Roboto", "Helvetica Neue", sans-serif;
    background: #fafafa;
    color: #626469;
}

input, textarea{
    border-radius: 0;
    
    &,
    &:focus,
    &:active,
    &:hover{
	padding: 0 0 0 5px;
	border: none;
	outline: none;
    }
}
h1, h2, h3, h4, h5, h6{
    font-family: Ubuntu, sans-serif;
}
pre{

}
body > .container{margin-top: 50px;}
