---
layout: page
---


{{ content }}

{% if page.menu == "kb" %}
  {% assign cat_name = "pro" %}
{% else if page.menu = "me" %}
  {% assign cat_name = "perso" %}
{% else %}
  {% assign cat_name = "" %}
{% endif %}


{% if page.menu != "search" and cat_name != "" %}
<section itemscope itemtype="http://schema.org/Blog">
  {% for post in site.categories[cat_name] %}
  <a class="card" href="{{ post.url | relative_url }}" itemprop="blogPosts" itemscope itemtype="http://schema.org/BlogPosting">
    {% if post.image %}
    <!--<div style="height: 50px; width: 50px; float:left; background-size: cover; background-position: center; margin-right: 10px; background-image: url('{{ post.image }}')"></div>-->
    <amp-img src="{{ post.image }}" width="40" height="40" layout="fixed" alt="article image" placeholder></amp-img>
    {% endif %}
    <h2>{{ post.title | escape }}
      <span class="post-meta">
	{% for tag in post.tags %}      
	<div class="tag">{{tag}}</div>
	{% endfor %}
      </span>
    </h2>
    <p>
      {{ post.excerpt | strip_html }}
    </p>
  </a>
  {% endfor %}
</section>
{% endif %}




