---
layout: skeleton
---

<nav>
  <div class="container">
    {% if page.menu == "kb" or page.category == "pro" %}
    <form action="{{ "/search" | absolute_url }}" target="_top" method="get">
      <input type="text" id="search-box" name="q" placeholder="Search" autofocus>
    </form>
    {% endif %}
    <ul>
      <li {% if page.menu == "home" %}class="active"{% endif %}><a href="{{ "/" | relative_url}}">home</a></li>
      <li {% if page.menu == "me" %}class="active"{% endif %}><a href="{{ "/me" | relative_url}}">me</a></li>
      <li {% if page.menu == "kb" %}class="active"{% endif %}><a href="{{ "/kb" | relative_url}}">kb</a></li>
    </ul>
  </div>
</nav>

<main class="container margin-top">
  {{ content }}
</main>
