---
layout: page
---

<article class="post" itemscope itemtype="http://schema.org/BlogPosting">

  <header class="post-header">
    <h1 class="post-title" itemprop="name headline">{{ page.title | escape }}</h1>
    <p class="post-meta">
      <div class="tag white" itemprop="datePublished">{{ page.date | date: "%Y-%m-%-d" }}</div>
      {% for tag in page.tags %}
      <div class="tag white">{{tag}}</div>
      {% endfor %}
    </p>
  </header>

  <div class="post-content" itemprop="articleBody">
    {{ content }}
  </div>
</article>





<amp-iframe id="disqus" width=600 height=140
	    layout="responsive"
	    sandbox="allow-scripts allow-same-origin "
	    resizable
	    frameborder="0"
	    src="https://cdn.rawgit.com/maxxeight/disqusAMP/master/disqus-amp.html?shortname=&url={{ page.url | absolute_url }}">
  <div overflow tabindex=0 role=button aria-label="Disqus Comments">Disqus Comments</div>
</amp-iframe>
