<!DOCTYPE html>
<html amp lang="{{ page.lang | default: site.lang | default: "en" }}">
  <head>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Ubuntu">
    <script async src="https://cdn.ampproject.org/v0.js"></script>
    <script async custom-element="amp-form" src="https://cdn.ampproject.org/v0/amp-form-0.1.js"></script>
    <script async custom-element="amp-iframe" src="https://cdn.ampproject.org/v0/amp-iframe-0.1.js"></script>
    <style amp-boilerplate>body{-webkit-animation:-amp-start 8s steps(1,end) 0s 1 normal both;-moz-animation:-amp-start 8s steps(1,end) 0s 1 normal both;-ms-animation:-amp-start 8s steps(1,end) 0s 1 normal both;animation:-amp-start 8s steps(1,end) 0s 1 normal both}@-webkit-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-moz-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-ms-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-o-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}</style><noscript><style amp-boilerplate>body{-webkit-animation:none;-moz-animation:none;-ms-animation:none;animation:none}</style></noscript>

    <title>{% if page.title %}{{ page.title | escape }}{% else %}{{ site.title | escape }}{% endif %}</title>
    <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">    
    <meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1">    
    <link rel="canonical" href="{{ page.url | absolute_url }}">
    <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | absolute_url }}">
   

    <meta content="{{ site.title }}" property="og:site_name">
    {% if page.title %}
    <meta content="{{ page.title }}" property="og:title">
    {% else %}
    <meta content="{{ site.title }}" property="og:title">
    {% endif %}
    {% if page.layout == "post" %}
    <meta content="article" property="og:type">
    {% else %}
    <meta content="website" property="og:type">
    {% endif %}
    {% if page.description %}
    <meta content="{{ page.description }}" property="og:description">
    {% else %}
    <meta content="{{ site.description }}" property="og:description">
    {% endif %}
    {% if page.url %}
    <meta content="{{ site.url }}{{ page.url }}" property="og:url">
    {% endif %}
    {% if page.date %}
    <meta content="{{ page.date | date_to_xmlschema }}" property="article:published_time">
    {% endif %}
    {% if page.image %}
    <meta content="{{ page.image }}" property="og:image">
    {% else %}
    <meta content="/img/logo-high-resolution.png" property="og:image">
    {% endif %}
    {% if page.tags %}
    {% for tag in page.tags %}
    <meta content="{{ tag }}" property="article:tag">
    {% endfor %}
    {% endif %}

    <script type="application/ld+json">
    {% if page.layout == "post" %}
      { "@context": "http://schema.org",
	"@type": "BlogPosting",
	"headline": "{% if page.title %}{{ page.title | escape }}{% else %}{{ site.title | escape }}{% endif %}",
	"alternativeHeadline": "{% if page.title %}{{ page.title | escape }}{% else %}{{ site.title | escape }}{% endif %}",
	"image": "{% if page.title %}{{ page.title | escape }}{% else %}{{ site.title | escape }}{% endif %}",,
	"editor": "{% if page.author %}{{page.author}}{% else %}{{site.author}}{% endif %}",
	"url": "{{ page.url | absolute_url }}",
	"datePublished": "{{ page.date | date_to_xmlschema }}",
	"dateCreated": "{{ page.date | date_to_xmlschema }}",
	"dateModified": "{{ page.date | date_to_xmlschema }}",
	"description": "{% if page.description %}{{page.description}}{% else %}{{site.description}}{% endif %}",
	"articleBody": "{{page.content | strip_html | strip_newlines }}",
	"author": {
	    "@type": "Person",
	    "name": "{% if page.author %}{{page.author}}{% else %}{{site.author}}{% endif %}"
	}
      }
    {% elsif page.layout == "list" %}
     { "@context": "http://schema.org",
	"@type": "Blog",
	"author": {
	    "@type": "Person",
	    "name": "{% if page.author %}{{page.author}}{% else %}{{site.author}}{% endif %}"
	}
    }
    {% else %}
     { "@context": "http://schema.org",    
       "@type": "WebSite",
       "url": "{{ page.url | absolute_url }}"
    } 
    {% endif %}
    </script>    

    <style amp-custom>
      {% capture style %}
      {% include style.scss %}
      {% endcapture %}    
      {{ style | scssify }}
    </style>


  </head>

  <body>
    {{content}}
  </body>
</html>
